# Import Libraries and Data:

In [50]:
# Import packages
import pandas as pd

# Geospatial packages
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

# Remove warnings
import warnings
warnings.filterwarnings('ignore')

In [51]:
# Read in data
medicare_inpatient_provider = pd.read_csv('C:\\Users\\jrzem\\OneDrive\\Semester Classwork\\Graduate\\Fall 2025 CMU\\Data Focused Python\\HospiTrack\\Data and Cleaning\\CMS Data\\Cleaned Data\\medicare_inpatient_cleaned.csv')
medicare_inpatient_service = pd.read_csv('C:\\Users\\jrzem\\OneDrive\\Semester Classwork\\Graduate\\Fall 2025 CMU\\Data Focused Python\\HospiTrack\\Data and Cleaning\\CMS Data\\Cleaned Data\\medicare_inpatient_drg_cleaned.csv')
medicare_outpatient_service = pd.read_csv('C:\\Users\\jrzem\\OneDrive\\Semester Classwork\\Graduate\\Fall 2025 CMU\\Data Focused Python\\HospiTrack\\Data and Cleaning\\CMS Data\\Cleaned Data\\medicare_outpatient_apc_hcpcs_statistics_cleaned.csv')
medicare_outpatient_provider = pd.read_csv('C:\\Users\\jrzem\\OneDrive\\Semester Classwork\\Graduate\\Fall 2025 CMU\\Data Focused Python\\HospiTrack\\Data and Cleaning\\CMS Data\\Cleaned Data\\medicare_outpatient_by_provider_apc_cleaned.csv')

In [52]:
medicare_inpatient_provider.head()

,provider_ccn,provider_org_name,provider_city,provider_street_address,provider_state_fips,provider_zip5,provider_state_abbreviation,provider_ruca_code,provider_ruca_description,drg_code,drg_description,total_discharges,average_submitted_covered_charge,average_total_payment_amount,average_medicare_payment_amount
0,10001,Southeast Health Medical Center,Dothan,1108 Ross Clark Circle,1,36301,AL,2,Metropolitan area high commuting: primary flow...,3,ECMO OR TRACHEOSTOMY WITH MV >96 HOURS OR PRIN...,14,663764.36,120219.93,115544.14
1,10001,Southeast Health Medical Center,Dothan,1108 Ross Clark Circle,1,36301,AL,2,Metropolitan area high commuting: primary flow...,23,CRANIOTOMY WITH MAJOR DEVICE IMPLANT OR ACUTE ...,26,180980.88,37321.04,35261.81
2,10001,Southeast Health Medical Center,Dothan,1108 Ross Clark Circle,1,36301,AL,2,Metropolitan area high commuting: primary flow...,24,CRANIOTOMY WITH MAJOR DEVICE IMPLANT OR ACUTE ...,12,105824.33,26936.67,25048.92
3,10001,Southeast Health Medical Center,Dothan,1108 Ross Clark Circle,1,36301,AL,2,Metropolitan area high commuting: primary flow...,25,CRANIOTOMY AND ENDOVASCULAR INTRACRANIAL PROCE...,16,242539.50,34745.38,32438.62
4,10001,Southeast Health Medical Center,Dothan,1108 Ross Clark Circle,1,36301,AL,2,Metropolitan area high commuting: primary flow...,38,EXTRACRANIAL PROCEDURES WITH CC,11,122741.18,14999.82,9579.36

In [53]:
medicare_inpatient_provider.columns

Index(['provider_ccn', 'provider_org_name', 'provider_city',
       'provider_street_address', 'provider_state_fips', 'provider_zip5',
       'provider_state_abbreviation', 'provider_ruca_code',
       'provider_ruca_description', 'drg_code', 'drg_description',
       'total_discharges', 'average_submitted_covered_charge',
       'average_total_payment_amount', 'average_medicare_payment_amount'],
      dtype='object')

In [54]:
medicare_inpatient_service.head()

,geo_level,geo_code,geo_description,drg_code,drg_description,total_discharges,average_submitted_covered_charge,average_total_payment_amount,average_medicare_payment_amount
0,National,NaN,National,1,HEART TRANSPLANT OR IMPLANT OF HEART ASSIST SY...,2028,1531532.34,332916.49,281516.35
1,National,NaN,National,2,HEART TRANSPLANT OR IMPLANT OF HEART ASSIST SY...,49,605138.22,142682.35,112367.69
2,National,NaN,National,3,ECMO OR TRACHEOSTOMY WITH MV >96 HOURS OR PRIN...,10378,988234.82,212347.98,183920.23
3,National,NaN,National,4,TRACHEOSTOMY WITH MV >96 HOURS OR PRINCIPAL DI...,9109,580080.10,123247.52,107486.38
4,National,NaN,National,5,LIVER TRANSPLANT WITH MCC OR INTESTINAL TRANSP...,1214,791668.95,156264.14,123813.63

In [55]:
medicare_inpatient_service.columns

Index(['geo_level', 'geo_code', 'geo_description', 'drg_code',
       'drg_description', 'total_discharges',
       'average_submitted_covered_charge', 'average_total_payment_amount',
       'average_medicare_payment_amount'],
      dtype='object')

In [56]:
medicare_outpatient_service.head()

,geo_level,geo_code,geo_description,service_level,apc_code,apc_description,hcpcs_code,hcpcs_description,beneficiary_count,apc_services,average_total_submitted_charges,average_medicare_allowed_amount,average_medicare_payment_amount,outlier_services,average_medicare_outlier_amount
0,National,NaN,National,APC,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,NaN,NaN,316770,334117,10679.63,1476.38,1170.01,1246,5783.28
1,National,NaN,National,APC,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,NaN,NaN,116917,130348,19660.38,2539.55,2015.59,2279,4981.07
2,National,NaN,National,APC,5091,Level 1 Breast/Lymphatic Surgery and Related P...,NaN,NaN,49031,50944,25917.24,3440.52,2732.32,760,4247.11
3,National,NaN,National,APC,5092,Level 2 Breast/Lymphatic Surgery and Related P...,NaN,NaN,52080,52305,43370.74,5906.32,4695.79,2595,3765.36
4,National,NaN,National,APC,5093,Level 3 Breast/Lymphatic Surgery and Related P...,NaN,NaN,4547,4670,65914.67,8801.57,7205.64,689,4897.28

In [57]:
medicare_outpatient_service.columns

Index(['geo_level', 'geo_code', 'geo_description', 'service_level', 'apc_code',
       'apc_description', 'hcpcs_code', 'hcpcs_description',
       'beneficiary_count', 'apc_services', 'average_total_submitted_charges',
       'average_medicare_allowed_amount', 'average_medicare_payment_amount',
       'outlier_services', 'average_medicare_outlier_amount'],
      dtype='object')

In [58]:
medicare_outpatient_provider.head()

,provider_ccn,provider_org_name,provider_street_address,provider_city,provider_state_abbreviation,provider_state_fips,provider_zip5,provider_ruca_code,provider_ruca_description,apc_code,apc_description,beneficiary_count,apc_services,average_total_submitted_charges,average_medicare_allowed_amount,average_medicare_payment_amount,outlier_services,average_medicare_outlier_amount
0,10001,Southeast Health Medical Center,1108 Ross Clark Circle,Dothan,AL,1,36301,2.0,Metropolitan area high commuting: primary flow...,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,151.0,161.0,9496.28,1323.42,1047.59,0.0,0.0
1,10001,Southeast Health Medical Center,1108 Ross Clark Circle,Dothan,AL,1,36301,2.0,Metropolitan area high commuting: primary flow...,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,49.0,56.0,17956.96,2261.11,1789.10,0.0,0.0
2,10001,Southeast Health Medical Center,1108 Ross Clark Circle,Dothan,AL,1,36301,2.0,Metropolitan area high commuting: primary flow...,5091,Level 1 Breast/Lymphatic Surgery and Related P...,26.0,28.0,25027.74,3002.58,2374.43,0.0,0.0
3,10001,Southeast Health Medical Center,1108 Ross Clark Circle,Dothan,AL,1,36301,2.0,Metropolitan area high commuting: primary flow...,5092,Level 2 Breast/Lymphatic Surgery and Related P...,26.0,26.0,37572.54,5342.79,4256.86,0.0,0.0
4,10001,Southeast Health Medical Center,1108 Ross Clark Circle,Dothan,AL,1,36301,2.0,Metropolitan area high commuting: primary flow...,5112,Level 2 Musculoskeletal Procedures,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
medicare_outpatient_provider.columns

Index(['provider_ccn', 'provider_org_name', 'provider_street_address',
       'provider_city', 'provider_state_abbreviation', 'provider_state_fips',
       'provider_zip5', 'provider_ruca_code', 'provider_ruca_description',
       'apc_code', 'apc_description', 'beneficiary_count', 'apc_services',
       'average_total_submitted_charges', 'average_medicare_allowed_amount',
       'average_medicare_payment_amount', 'outlier_services',
       'average_medicare_outlier_amount'],
      dtype='object')

# Geocoding Data:

Geocoding the provider datasets:

In [60]:
# Merge the inpatient and outpatient datasets
merged_provider = pd.merge(
    medicare_inpatient_provider,
    medicare_outpatient_provider,
    on=['provider_ccn', 'provider_org_name', 'provider_city', 'provider_street_address', 'provider_state_abbreviation', 'provider_state_fips', 'provider_zip5', 'provider_ruca_code', 'provider_ruca_description'],
    how='outer',
    suffixes=('_inpatient', '_outpatient')
)
merged_provider.head()

,provider_ccn,provider_org_name,provider_city,provider_street_address,provider_state_fips,provider_zip5,provider_state_abbreviation,provider_ruca_code,provider_ruca_description,drg_code,...,average_medicare_payment_amount_inpatient,apc_code,apc_description,beneficiary_count,apc_services,average_total_submitted_charges,average_medicare_allowed_amount,average_medicare_payment_amount_outpatient,outlier_services,average_medicare_outlier_amount
0,10001,Southeast Health Medical Center,Dothan,1108 Ross Clark Circle,1,36301,AL,2.0,Metropolitan area high commuting: primary flow...,3.0,...,115544.14,5072.0,Level 2 Excision/ Biopsy/ Incision and Drainage,151.0,161.0,9496.28,1323.42,1047.59,0.0,0.0
1,10001,Southeast Health Medical Center,Dothan,1108 Ross Clark Circle,1,36301,AL,2.0,Metropolitan area high commuting: primary flow...,3.0,...,115544.14,5073.0,Level 3 Excision/ Biopsy/ Incision and Drainage,49.0,56.0,17956.96,2261.11,1789.10,0.0,0.0
2,10001,Southeast Health Medical Center,Dothan,1108 Ross Clark Circle,1,36301,AL,2.0,Metropolitan area high commuting: primary flow...,3.0,...,115544.14,5091.0,Level 1 Breast/Lymphatic Surgery and Related P...,26.0,28.0,25027.74,3002.58,2374.43,0.0,0.0
3,10001,Southeast Health Medical Center,Dothan,1108 Ross Clark Circle,1,36301,AL,2.0,Metropolitan area high commuting: primary flow...,3.0,...,115544.14,5092.0,Level 2 Breast/Lymphatic Surgery and Related P...,26.0,26.0,37572.54,5342.79,4256.86,0.0,0.0
4,10001,Southeast Health Medical Center,Dothan,1108 Ross Clark Circle,1,36301,AL,2.0,Metropolitan area high commuting: primary flow...,3.0,...,115544.14,5112.0,Level 2 Musculoskeletal Procedures,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
# Create full address for further query in geospatial data
merged_provider['full_address'] = (
    merged_provider['provider_street_address'].str.replace(r'\b(Box|Suite)\s+\d+\b', '', regex=True).str.strip() +
    ', ' +
    merged_provider['provider_city'] +
    ', ' +
    merged_provider['provider_state_abbreviation'] +
    ', ' +
    merged_provider['provider_zip5'].astype(str)
)

# Output cleaned dataset for extrapolating
merged_provider[['full_address']].head()

                                full_address
0  1108 Ross Clark Circle, Dothan, AL, 36301
1  1108 Ross Clark Circle, Dothan, AL, 36301
2  1108 Ross Clark Circle, Dothan, AL, 36301
3  1108 Ross Clark Circle, Dothan, AL, 36301
4  1108 Ross Clark Circle, Dothan, AL, 36301

In [62]:
merged_provider['provider_state_abbreviation']

0        AL
1        AL
2        AL
3        AL
4        AL
         ..
53716    AL
53717    AL
53718    AL
53719    AL
53720    AL
Name: provider_state_abbreviation, Length: 53721, dtype: object

In [63]:
illinois_data = merged_provider[merged_provider['provider_state_abbreviation'] == 'IL']

In [64]:
geolocator = Nominatim(user_agent="er_wait_times_project")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

geocode_cache = {}

def get_lat_lon(addr):
    if addr in geocode_cache:
        return geocode_cache[addr]
    try:
        location = geocode(addr)
        if location:
            geocode_cache[addr] = (location.latitude, location.longitude)
            return geocode_cache[addr]
    except Exception as e:
        print(f"Geocoding error for {addr}: {e}")
    return (None, None)

illinois_data[['lat', 'lon']] = illinois_data['full_address'].apply(lambda addr: pd.Series(get_lat_lon(addr)))

illinois_data[['provider_org_name', 'full_address', 'lat', 'lon']].head()

ValueError: Columns must be same length as key

In [ ]:
# Save the result
merged_provider.to_csv('C:\\Users\\jrzem\\OneDrive\\Semester Classwork\\Graduate\\Fall 2025 CMU\\Data Focused Python\\HospiTrack\\Data and Cleaning\\CMS Data\\Cleaned Data\\medicare_providers_geocoded.csv', index=False)

# EDA

Assess variables:

In [ ]:
# Look at null values in columns
null_counts = merged_provider.isnull().sum()
print(null_counts[null_counts] > 0)